.container{
    width: 350px;
    height: 300px;
background-color: beige;
margin-left: 500px;
margin-right: 500px;
border: 8px dotted brown;
}

#heading{
    background-color: coral;
}
h1{
    text-align: center;

}

button ,input ,.button{
    margin-left: 20px;
}
input{
    width: 180px;
}

